body{
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

button{
    background-color: #3882f6;
    color: white;
    font-weight: 900;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    box-shadow: none;
    border-style: solid;
}



/*header*/
.header, .headsection, .footer{
    background-color: #1f2937;
    display: flex;
    width: 900px;
    border-image: conic-gradient(#1f2937 0 0) fill 0//0 100vw;
}

.header{
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 10%;
}

.header .logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header .links{
    display: flex;
    justify-content: space-between;
    gap: 20px
}


/*head section*/

.headsection{
    display: flex;
    flex: 1 1 auto;
    align-items: stretch;
    padding: 10% 10% ;
    justify-content: space-between;
    gap: 10px;

}

.headsection .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 0;

}

.headsection .image{
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    background-color: gray;

    color: white;
    min-height: 10rem;
}

.headsection .button button{
    border-color: #3882f6;    
}

/*info section*/
.infosection{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    padding: 30px 10% 50px ;
    width: 900px;
    gap: 20px;
}

.infosection .title{
    display: flex;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    flex: 1 1 auto;
}

.infosection .info{
    flex: 1 1 auto;
    display: flex;
    
}

.infosection .info .imagetext{
    flex: 1 1 auto;
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    gap:10px;
    padding: 0px 10px;
}

.infosection .info .imagetext .image{
    flex: 1 1 auto;
    display: flex;
    border: solid #3882f6;;
    border-radius: 8px;
    height: 130px;
    width: 130px;
    align-self: center;
}

.infosection .info .imagetext .text{
    text-align: center;
    color: #1f2937;
}


/*quote section*/
.quotesection{
    width: 900px;
    display: flex;
    flex: 1 1 auto;
}

.footsection{
    display: flex;
    flex: 1 1 auto;
}

.headsection .info .title{
    font-size: 48px;
    color: #f9faf8;
}



.text  {
    font-size: 18px;
    color: #e5e7eb;
}

.footsection .button button{
    border-color:white;    
}